<div class="row">
  <div class="card col-md-6" id="signup-form">
    <div class="card-block">
      <div class="card-body">
        <h2 class="text-center"><%= user.new_record? ? 'Create account' : 'Update account' %></h2>
        <%= form_for user do |f| %>
          <div class="form-group">
            <%= f.text_field :username, class: 'form-control', placeholder: 'Enter username' %><br>
          </div>

          <div class="form-group">
            <%= f.text_field :first_name, class: 'form-control', placeholder: 'Enter first name' %><br>
          </div>

          <div class="form-group">
            <%= f.text_field :last_name, class: 'form-control', placeholder: 'Enter last name' %><br>
          </div>

          <div class="form-group">
            <%= f.password_field :password, class: 'form-control', placeholder: 'Enter password' %><br>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm password' %><br>
          </div>

          <div class="form-group">
            <%= f.email_field :email, class: 'form-control', placeholder: 'Enter email' %><br>
          </div>

          <div class="form-group">
            <%= f.text_field :address, class: 'form-control', placeholder: 'Enter address' %><br>
          </div>

          <div class="form-group">
            <%= f.text_field :profile_pic, class: 'form-control', placeholder: 'Enter profile picture url' %>
          </div>

          <div class="form-group">
            <%= f.submit user.new_record? ? 'Create account' : 'Update account', class: 'btn btn-primary btn-block' %>
          </div>
          <p>Already have an account? <%= link_to 'Sign in', login_path unless current_user %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <%= render partial: 'shared/error', locals: {obj: user} %>
  </div>
</div>


