<div class="jumbotron container-fluid">
  <div class="image-cropper">
    <% if @user.profile_pic %>
      <img src="<%= @user.profile_pic %>" alt="profile picture" class="profile-pic">
    <% else %>
      <div class="row">
        <div class="col-md-5 col-md-offset-5 avatar">
          <%= gravatar_for @user, size: 300 %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="profile-heading">
    <h1><%= @user.first_name.capitalize %>'s Profile </h1>
    <%= link_to 'Edit Account', edit_user_path, class:"btn btn-primary btn-sm" %>
  </div>
</div>

<div class="container-fluid">
  <h3>My Listings</h3>
  <div class="row">
    <% current_user.items.each do |item| %>
      <div class="col-md-3 mt-5">
        <div class="card">
         <img class="card-img-top" src="<%= item.picture %>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= link_to item.name, item_path(item) %></h5>
            <h6 class="card-subtitle mb-2 text-muted"> $<%= item.price %> </h6>
            <p class="card-text"><%= item.description %></p>
            <a href="/items/<%= item.id %>/edit" class="btn btn-primary">Edit Item</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
