<h1><%= @user.first_name.capitalize %> Profile <%= link_to 'Edit Account', edit_user_path, class:"btn btn-primary btn-sm" %></h1>


<% if @user.profile_pic %>
  <img src="<%= @user.profile_pic %>">
<% else %>
  <div class="row">
    <div class="col-md-5 col-md-offset-5 avatar">
      <%= gravatar_for @user, size: 300 %>
    </div>
  </div>
<% end %>
</div>

<div class="container">
  <h2>My Listings</h2>
  <div class="row">
    <% @user.items.each do |item| %>
      <div class="col-3">
        <div class="card">
         <img class="card-img-top" src="<%= item.picture %>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= link_to item.name, item_path(item) %></h5>
            <h6 class="card-subtitle mb-2 text-muted"> $<%= item.price %> </h6>
            <p class="card-text"><%= item.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
