<h1><%= @item.name %> </h1>

<img src="<%= @item.picture %>">
<br>
<h3>$<%= @item.price%></h3>
<h4>Number in Inventory: <%= @item.quantity %></h4>
<br>
<br>
<h4>Description:</h4>
<%= @item.description %>

<br>
<br>
add to cart button
